@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Inter";
	background-color: #f7f7f7;
}

input,
button,
textarea {
	font-family: "Inter";
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.movie-container {
	max-width: 940px;
	box-sizing: content-box;
	padding: 32px 35px;
	background-color: #fff;
	margin: 0 auto;
}
