.movie-card-mobile {
	height: 245px;
	font-size: 12px;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
	padding: 6px 10px;
	overflow: hidden;
}
.movie-mobile-top {
	display: flex;
	margin-bottom: 10px;
	position: relative;
}
.movie-mobile-poster {
	margin-right: 13px;
	flex: 0 0 60px;
	height: 91px;
	background-color: rgb(241, 239, 239);
	text-align: center;
}
.movie-mobile-poster img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.movie-mobile-rate {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid greenyellow;
	border-radius: 50%;
}
.movie-mobile-title {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 7px;
	padding-right: 33px;
}
.movie-mobile-date {
	margin-bottom: 7px;
	line-height: 1.8;
	color: #827e7e;
}
.movie-mobile-genres {
	margin-bottom: 10px;
}
.movie-mobile-genres span {
	color: rgba(0, 0, 0, 0.65);
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	background: #fafafa;
	padding: 2px;
}
.movie-mobile-genres span:not(:last-child) {
	margin-right: 8px;
}
.movie-mobile-bottom {
	line-height: 1.8;
}
