.movie-card-desctop {
	display: flex;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
	min-height: 100%;
	overflow: hidden;
}
.movie-desctop-poster {
	flex: 0 0 183px;
	background-color: rgb(241, 239, 239);
	text-align: center;
}
.movie-desctop-poster img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.movie-desctop-body {
	padding: 10px 20px;
	font-size: 12px;
	line-height: 1.8;
	display: flex;
	flex-direction: column;
	position: relative;
}
.movie-desctop-rate {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 10px;
	right: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid greenyellow;
	border-radius: 50%;
}
.movie-desctop-title {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 7px;
	padding-right: 30px;
}
.movie-desctop-date {
	margin-bottom: 7px;
	line-height: 1.2;
	color: #827e7e;
}
.movie-desctop-genres {
	margin-bottom: 10px;
}
.movie-desctop-genres span {
	color: rgba(0, 0, 0, 0.65);
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	background: #fafafa;
	padding: 2px;
}
.movie-desctop-genres span:not(:last-child) {
	margin-right: 8px;
}
.movie-desctop-description {
	max-height: 129px;
	overflow: hidden;
	flex: 1 1 auto;
}
